@mixin mobile {
  @media (max-width: #{$mobile-small}px ) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}px ) {
    @content;
  }
}

@mixin tablet-big {
  @media (max-width: #{$tablet-big}px ) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}px ) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}px ) {
    @content;
  }
}
