body {
  font-size: 22px;
  line-height: 1.2;
  color: $default;
  font-family: 'Uni Sans';
  font-weight: normal;

  @include laptop {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  letter-spacing: 0.55px;
}

p {
  margin-bottom: $element-ofsset;
  letter-spacing: 0.55px;
}

strong {
  font-weight: bold;
}

*:focus {
  outline: 0;
}

.animate {
  opacity: 0;
}

.animated {
  opacity: 1;
}
