<div class="session-list normal-list">
    <div class="section-title-wraper">
        <div class="container">
            <div class="overlay">
                <h2 class="section-title"><span class="first">Сесии</span> и лектори
                    <div class="line line-bulk"></div>
                </h2>
            </div>
        </div>
        <div class="line fullwidth-line"></div>
    </div>
    <ul>
        <li data-animation="slideInLeft" class="animate" data-img_path="assets/img/lektors/svetlin_nakov2.jpg">
            <div class="lector-info"><img src="assets/img/avatar_biser.png"></div>
            <div class="container">
                <div class="list-element">

                    <div class="title"><span class="date">10:00 - 11:00</span> <span class="dash">-</span> "IT project management - наръчник за оцеляване" - Бисер Симеонов
                    </div>
                    <div class="content">
                        10 трика как да бъдем успешни. Ще говорим за това какви са основните задачи на ПМ-а и най-вече как ефективно да се справя с тях, на база на реални примери и добри практики.
                    </div>
                </div>
            </div>
        </li>
        <li data-animation="slideInLeft" class="animate" data-img_path="assets/img/lektors/svetlin_nakov.png">
            <div class="lector-info"><img src="assets/img/avatar_hubanov.png"></div>
            <div class="container">
                <div class="list-element">
                    <div class="title"><span class="date">11:15 - 12:15</span> <span class="dash">-</span> "Software Engineer’s life beyond coding" - Николай Хубанов
                    </div>
                    <div class="content">
                        Ще разгледаме с какво се запълва ежедневието на един софтуерен инженер и популярни практики, които правят деня по-ползотворен и интересен.
                    </div>
                </div>
            </div>
        </li>
        <li data-animation="slideInLeft" class="animate" data-img_path="assets/img/lektors/svetlin_nakov.png">
            <div class="lector-info"><img src="assets/img/avatar_simandov.png"></div>
            <div class="container">
                <div class="list-element">
                    <div class="title"><span class="date">13:15 - 14:15</span> <span class="dash">-</span> "The future is exponential. Are you ready?" - Борис Симандов
                    </div>
                    <div class="content">
                        "2001: Космическа одисея", "Аз, роботът", "Терминатор" ... дали бъдещето е толкова мрачно, както го представят в Холивуд? Какво ни очаква и как изкуственият интелект ще промени света? Ако си задавате същите въпроси - заповядайте!
                    </div>
                </div>

            </div>
        </li>
    </ul>
    <div class="section-image--right triangle-top section-image">
        <img data-default_path="assets/img/image-1.jpg" src="assets/img/image-1.jpg" alt="FFW Digital Summit BG Офис">
    </div>
    <div class="section-triangle section-triangle-top">
        <img src="assets/img/triangle-top.png" alt="Digital Summit Section Element Image">
    </div>
</div>
