<div class="tickets">
  <div class="ticket-element">
    <div class="container">
      <div class="ticket-wrapper">
        <div class="ticket-content">
          <div class="basic-title">
            Регистрирай се сега, <strong>Безплатно!</strong>
          </div>
          <p>Местата са ограничени.</p>
        </div>
        <div class="ticket-price">
          <div class="ticket-action actions">
            <a href="https://forms.gle/LoN7Un3dwtZJogQv7" target="_blank" class="btn-reverse">Регистрация</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
