<div class="section-title-wraper">
  <div class="container">
    <div class="overlay">
      <h2 class="section-title"><span class="first">Партньори</span> и спонсори<div class="line line-bulk"></div></h2>
    </div>
  </div>
  <div class="line fullwidth-line"></div>
</div>


<div class="partners-row first-row" style="justify-content: center;">
  <div class="partner-item bg-white first">
    <a href="https://ffwagency.com/" target="_blank" class="ffw-logo">
      <img src="assets/img/ffw_logo.png" alt="FFW Logo">
    </a>
  </div>
</div>

<div class="partners-row first-row">
  <div class="partner-item bg-pink first">
    <a href="https://prodesk.bg/bg/" target="_blank">
      <img src="assets/img/Logo-Prodesk-transparent 2.png" alt="Prodesk Logo">
    </a>
  </div>
  <div class="partner-item second uber" style="background-color:#19294e;">
    <a href="https://www.uber.com/us/en/careers/locations/sofia/" target="_blank">
      <img src="assets/img/Uber_Logo.png" alt="Uber Logo" style="max-width: 180px;">
    </a>
  </div>

</div>

<div class="partners-row second-row">
  <div class="partner-item" style="background-color:#19294e;">

    <a href="https://www.superhosting.bg/" rel="nofollow" target="_blank">
      <img src="../assets/img/superhosting_logo.svg" alt="Superhosting Logo">
    </a>
  </div>
  <div class="partner-item bg-gray">
    <a href="https://softuni.bg/" rel="nofollow" target="_blank">
      <img src="assets/img/SoftwareUniversity_Logo.png" alt="SoftwareUniversity">
    </a>
  </div>
  <div class="partner-item bg-pink">
    <a href="https://www.gabrovo.bg/bg" rel="nofollow" target="_blank">
      <img src="assets/img/gabrovo_logo.png" alt="Gabrovo Logo">
    </a>
  </div>
</div>

<div class="partners-row second-row four-columns">
  <div class="partner-item bg-white">
    <a href="https://engineering.dazn.com/" rel="nofollow" target="_blank">
      <img src="../assets/img/dazn_logo.png" alt="DAZN">
    </a>
  </div>
  <div class="partner-item" style="background-color:#19294e;">
    <a href="https://www.facebook.com/groups/devbg/" rel="nofollow" target="_blank">
      <img src="../assets/img/devbg.png" alt="DevBG" style="max-width: 60%;">
    </a>
  </div>
  <div class="partner-item bg-white">
    <a href="http://www.sysmoltd.com/" rel="nofollow" target="_blank">
      <img src="../assets/img/SysMoLogo_03.png" alt="SysMo Logo" style="max-width: 60%;">
    </a>
  </div>
  <div class="partner-item bg-gray">
    <a href="https://ridewithvia.com/" rel="nofollow" target="_blank">
      <img src="../assets/img/via_logo.png" alt="VIA Logo">
    </a>
  </div>
</div>
