        <div class="session-list reversed-list">
          <ul>
            <li data-animation="slideInLeft" class="animate" data-img_path="assets/img/lektors/svetlin_nakov.png">
              <div class="lector-info"><img src="assets/img/avatar_shopov.png"></div>
              <div class="container">
                <div class="list-element">
                  <div class="title"><span class="date">14:25 - 15:25</span> <span class="dash">-</span> "Иновации в образованието" - Стоян Шопов</div>
                  <div class="content">
                    Какви са проблемите на традиционното образование и какво трябва да се промени, за да развива и движи бъдещите поколения напред.
                  </div>
                </div>
              </div>
            </li>
            <li data-animation="slideInLeft" class="animate"  data-img_path="assets/img/lektors/svetlin_nakov2.jpg">
              <div class="lector-info"><img src="assets/img/avatar_kanchev.png"></div>
              <div class="container">
                <div class="list-element">
                  <div class="title"><span class="date">15:40 - 16:40</span> <span class="dash">-</span> "Introduction to ReactJS" - Христо Кънчев</div>
                  <div class="content">
                    Ще се запознаем с основните концепции на ReactJS, как React може да ни помогне да правим scalable приложения и какво прави тази библиотека по-различна от другите.
                  </div>
                </div>

              </div>
            </li>
            <li data-animation="slideInLeft" class="animate" data-img_path="assets/img/lektors/svetlin_nakov.png">
              <div class="lector-info"><img src="assets/img/pavlov.png"></div>
              <div class="container">
                <div class="list-element">

                  <div class="title"><span class="date">16:50 - 17:50</span> <span class="dash">-</span> Преоткриването на някои добре забравени концепции в програмирането - Атанас Павлов</div>
                  <div class="content">
                    Да излезем от границите на познатото ни и да си припомним някои универсални идеи от миналото, които биват преоткрити отново и отново.
                  </div>
                </div>

              </div>
            </li>
          </ul>

          <div class="container">
            <div class="list-actions actions">
              <!-- <a href="#" class="btn-reverse">Програма</a> -->
            </div>
          </div>

        <div class="section-image--right triangle-bottom section-image">
          <img data-default_path="assets/img/image-1.jpg" src="assets/img/image-1.jpg" alt="FFW Digital Summit BG Офис 2">
        </div>
        <div class="section-triangle section-triangle-bottom">
          <img src="assets/img/triangle-bottom.png" alt="Digital Summit Section Element Image">
        </div>
      </div>
