<div class="section-title-wraper left-title">
  <div class="container">
    <div class="overlay">
      <h2 class="section-title"><span class="first">Регистрация</span><div class="line line-bulk"></div></h2>
    </div>
  </div>
  <div class="line fullwidth-line"></div>
</div>

<div class="container">
  <div class="basic-title">
    регистрирай се и запази своето място сега!
  </div>
  <p>Второто издание на <strong>Gabrovo Digital Summit</strong> ще бъде безплатно за всички посетители. Очакваме голям интерес, затова Ви приканваме да си запазите място чрез формата за регистрация по-долу. </br>Местата са ограничени!</br>
При нужда от съдействие може да се обърнете към нас - <a class="link" href="mailto:gabrovo@ffwagency.com">gabrovo@ffwagency.com</a></p>
</div>

<include src='section-register--tickets.html'/>
