<img src="assets/img/gabrovo_bg.png" alt="Gabrovo City">
<div data-animation="zoomIn" class="animate text-box">
  <div class="top-text">Елате и вижте <span class="gradient">Габрово</span></div>
  <div class="bottom-text">Възползвайте се от шансa да се разходите с вашето семейство
в този прекрасен град!</div>
</div>
