<div class="section-title-wraper">
  <div class="container">
    <div class="overlay">
      <h2 class="section-title"><span class="first">Място</span> на събитието<div class="line line-bulk"></div></h2>
    </div>
  </div>
  <div class="line fullwidth-line"></div>
</div>
<div class="content container">
  <div class="section-image--part">
    <img data-animation="slideInUp" class="animate" src="assets/img/zala_vuzrajdane.png" alt="Зала Възраждане">
  </div>
  <div class="place-text">
    Зала Възраждане се намира в централната част на Габрово, в непосредствена близост до Общината, Съда и други административни сгради. Разполага с два паркинга. Близо до залата има множество ресторанти и заведения, на които може да се насладите.

    <div class="place-action actions">
      <a href="https://www.google.bg/maps/place/Hall+%22Revival%22/@42.8715579,25.3134158,17z/data=!3m1!4b1!4m5!3m4!1s0x40a91aba05d12195:0xdca9f6d42cdff96c!8m2!3d42.8715579!4d25.3156045" target="_blank" class="btn-reverse">Виж карта</a>
    </div>
  </div>
</div>

<div data-animation="slideInUp" class="address-box animate">
  <strong>Адрес на зала Възраждане</strong> - Площад Възраждане 5
</div>
