.footer {
  .basic-title {
    a {
      background-color: #1a294d;
      &:hover {
        color: #fd1d62;
      }
    }
  }
}
.footer-bottom {
  .fb {
    color: #4267b2;
    &:hover {
      color: #4267b2;
    }
    img {
      margin-left: 0;
    }
  }
  .yt {
    color: #e02f30;
    &:hover {
      color: #e02f30;
    }
  }
}
.lector-info {
  .list-element {
    .content {
      min-height: 120px;
    }
  }
  img {
    margin-left: 25px;
    height: 125px;
    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
}
.about-gabrovo {
  img {
    max-width: 100vw;
    width: 100vw;
  }
}
.partners {
  .partners-row {
    .partner-item {
      img {
        max-height: 100px;
        max-width: 100%;
        width: auto;
      }
      .ffw-logo {
        padding: 40px 30px;
        img {
          max-height: 140px;
        }
      }
    }
    &.four-columns {
      flex-wrap: wrap;
      .partner-item {
        flex-basis: calc(100% / 2);
      }
    }
  }
}
.heading {
  background-size: cover;
}
.session-list {
  .container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 470px) {
  .uber {
    img {
      max-width: 100px !important;
    }
  }
}

@media only screen and (max-width: 400px) {
  .basic-title {
    a {
      display: block;
    }
  }
}


@media only screen and (max-width: 994px) {
  .four-columns {
    .partner-item {
      &:nth-of-type(3) {
        background: #dedde8;
      }
      &:nth-of-type(4) {
        background: #fff;
      }
    }
  }
}
@media only screen and (min-width: 994px) {
  .partners {
    .partners-row {
      &.four-columns {
        flex-wrap: nowrap;
        .partner-item {
          flex-basis: calc(100% / 4);
        }
      }
    }
  }
  .four-columns {
    .partner-item {
      &:nth-of-type(4) {
        background: #19294e;
      }
    }
  }
}
