.bg-white {
  background: white;
}

.bg-pink {
  background: $pink;
}

.bg-blue {
  background: $blue;
}

.bg-gray {
  background: $dark-gray;
}

.menu-overlay {
  background: rgba($blue, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}

.menu-open {
  .menu-overlay {
    display: block;
  }
}
