@mixin menu-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;

    span {
      display: block;
      position: relative;
      height: 5px;
      background-color: white;

      transform: rotate(0deg);
      transition: all ease 400ms;
      margin-top: 0;

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 15px;
        height: 5px;
        width: 100%;
        background-color: white;

        transform: rotate(0deg);
        transition: all ease 400ms;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 30px;
        height: 5px;
        width: 100%;
        background-color: white;

        transform: rotate(0deg);
        transition: all ease 400ms;
      }
    }
}

@mixin menu-icon-open {
  span {
    background: transparent;

    &:after {
      transform: translateY(-15px) rotate(-45deg);
      background-color: $pink;
    }

    &:before {
      background-color: $pink;
      transform: rotate(45deg);
    }
  }
}
