.section-image--left,
.section-image--right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
  overflow: hidden;

  @media (max-width: 1500px ) {
    max-width: 35%;
  }
  @include laptop {
    display: none;
  }
  img {
    object-fit: fill;
    width: 100%;
    height: 100%;

  }
}

.section-image--right {
  right: 0;
}

.section-image--left {
  left: 0;
}

.section-image--part {
  padding: $element-ofsset / 2 $element-ofsset / 2 0 0;
  box-sizing: border-box;
  position: relative;
  line-height: 0;

  &:before {
    content: '';
    background: $pink;
    width: 85%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
  }

  img {
    z-index: 2;
    position: relative;
    width: 100%;
  }

}

.triangle-top {
  img {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}

.triangle-bottom {
  img {
    clip-path: polygon(100% 0%, 0 0, 100% 100%);
    transform: rotateX(180deg);
  }
}

.section-triangle {
  position: absolute;
  line-height: 0;

  @include laptop {
    display: none;
  }

  img {
    max-width: 80%;
    width: 100%;
  }
}

.section-triangle-top {
  bottom: 0;
}

.section-triangle-bottom {
  top: 0;
}
