.btn-reverse, .btn {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 50px;
  transition: all $transition-time;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 220px;
  box-sizing: border-box;
  text-align: center;
}

.btn {
  color: $pink;
  border: 3px solid $pink;

  &:hover,&:active, &:focus {
    color: white;
    background: $pink;
  }
}

.btn-reverse {
  color: white;
  border: 3px solid $pink;
  background: $pink;

  &:hover,&:active, &:focus {
    color: $pink;
    background: transparent;
  }
}

.actions {
  padding-top: $big-offset / 2;
  padding-bottom: $big-offset;
  width: 100%;

  @include tablet {
    text-align: center;
  }

  a {
    margin-left: 30px;

    @include tablet {
      margin-left: 0;
      margin-bottom: $element-ofsset;
      width: 100%;
      max-width: 80%;
      box-sizing: border-box;
    }

    &:last-child {
      @include tablet {
        margin-bottom: 0;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.link {
  color: $pink;
  transition: all $transition-time;
  text-decoration: underline;

   &:hover {
     color: $dark-gray;
   }
}

/* Ripple Out */
@keyframes ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
    border: none;
  }
}
.ripple-out,
.ripple-out-full {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    border: transparent solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-duration: 1s;
  }

  &:hover:before, &:focus:before, &:active:before {
    animation-name: ripple-out;
    border-color: $pink;
  }
}


.ripple-out-full {
  &:before {
    border-color: $pink;
  }

  &:hover:before, &:focus:before, &:active:before {
    border-color: transparent;
  }
}
