.container {
  width: 100%;
  max-width: $container_width;
  margin: 0 auto;
  padding-left: $element-ofsset;
  padding-right: $element-ofsset;
  box-sizing: border-box;

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

section {
  padding-top: $big-offset;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
