$line-height: 5px;

.section-title-wraper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: $big-offset;

  @include tablet {
    margin-bottom: $big-offset / 2;
  }

  .overlay {
    background: white;
    position: relative;
    z-index: 2;
  }

  .line {
    display: block;
    width: 100%;
    height: $line-height;
    background: $pink;
  }

  .fullwidth-line {
    z-index: 1;
    position: relative;
    top: -#{$line-height};
    width: 50%;
  }

  .line-bulk {
    margin-top: 10px;
    position: relative;

    &:before {
      content: '';
      width: 200px;
      height: $line-height;
      position: absolute;
      right: 0;
      top: -#{$line-height};
      background: $pink;

      @include tablet {
        width: 150px;
      }
    }

    &:after {
      content: '';
      width: $line-height;
      height: 7px;
      position: absolute;
      top: -3.5px;
      background: $pink;
      right: 198px;
      transform: rotate(45deg);

      @include tablet {
        right: 148px;
        height: 6px;
      }
    }
  }

  .first {
    font-weight: 900;
    font-size: 76px;

    @include laptop {
      font-size: 56px;
    }

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      font-size: 30px;
    }
  }

  .section-title {
    text-transform: uppercase;
    display: inline-block;
    font-size: 60px;
    letter-spacing: 1.9px;

    @include laptop {
      font-size: 40px;
    }

    @include tablet {
      font-size: 24px;
    }

    @include mobile {
      font-size: 22px;
    }
  }

  &.left-title {
    text-align: right;

    .line-bulk {
      &:before {
        left: 0;
      }
      &:after {
        left: 198px;
        transform: rotate(-45deg);
        top: -4.6px;
        height: 8px;

        @include tablet {
          left: 149px;
        }
      }
    }

    .fullwidth-line {
      float: right;
    }
  }
}

.basic-title {
  font-size: 30px;
  margin-bottom: $element-ofsset / 2;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.75px;

  @include laptop {
    font-size: 24px;
  }
}

.gradient {
  text-transform: uppercase;
  background: rgba(25,41,78,1);
  background: -moz-linear-gradient(left, rgba(25,41,78,1) 0%, rgba(253,29,96,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,41,78,1)), color-stop(100%, rgba(253,29,96,1)));
  background: -webkit-linear-gradient(left, rgba(25,41,78,1) 0%, rgba(253,29,96,1) 100%);
  background: -o-linear-gradient(left, rgba(25,41,78,1) 0%, rgba(253,29,96,1) 100%);
  background: -ms-linear-gradient(left, rgba(25,41,78,1) 0%, rgba(253,29,96,1) 100%);
  background: linear-gradient(to right, rgba(25,41,78,1) 0%, rgba(253,29,96,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19294e', endColorstr='#fd1d60', GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
