.about-gabrovo {
  padding-top: 0;
  line-height: 0;

  @include tablet {
    min-height: 240px;
  }

  img {
    max-width: 100%;

    @include tablet {
      object-fit: fill;
      min-height: 240px;
    }
  }

  .text-box {
    line-height: 1.2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box;
    padding: $big-offset $big-offset / 2;
    background: rgba(white, 0.8);

    @include laptop {
      padding: $big-offset / 2;
    }

    @include tablet {
      padding: $big-offset / 4;
      width: 90%;
    }

    &:before {
      content: '';
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      border: 5px solid white;
      position: absolute;
      top: -15px;
      left: -15px;
      opacity: 0.8;
    }

    .top-text,
    .bottom-text {
      z-index: 20;
      position: relative;
    }

    .bottom-text {
      color: $pink;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;

      @include tablet {
        font-size: 16px;
      }
    }

    .top-text {
      font-size: 30px;
      font-weight: 900;
      color: $blue;
      margin-bottom: $element-ofsset;
      text-transform: uppercase;

      @include tablet {
        font-size: 22px;
        margin-bottom: $element-ofsset / 2;
      }

      span {
        font-size: 55px;
        font-weight: 900;

        @include tablet {
          font-size: 35px;
        }
      }
    }
  }
}
