.footer {

  .basic-title {
    margin-bottom: 0;

    a {
      background: $pink;
      width: 100%;
      display: block;
      text-align: center;
      padding: 0 $element-ofsset / 2;
      line-height: 1.5;
      color: white;
      transition: all $transition-time;
      box-sizing: border-box;

      @include tablet {
        font-size: 20px;
      }

      @include mobile {
        padding: 0;
      }

      &:hover {
        color: $blue;
      }
    }

    span {
      position: relative;
      top: -15px;

      @include tablet {
        position: static
      }

      @include mobile {
        top: 0;
      }

    }

    img {
      max-width: 100px;
      margin-left: 10px;
      position: relative;
      top: 10px;
    }
  }
}

.footer-bottom,
.footer-end {
  background: $blue;
  text-align: center;
  padding: $element-ofsset / 2 0;

  .basic-title {
    color: white;
    margin-bottom: 0;
    width: 100%;
    font-size: 18px;

    img {
      max-width: 20px;
      margin-left: 10px;
      position: relative;
      top: 3px;
    }
  }

  a {
    color: white;

    &:hover {
      color: $pink;
    }
  }
}

.footer-end {
  background: lighten($blue, 10%);
  padding: $element-ofsset / 4 0;

  font-size: 16px;

  a {
    line-height: 1.6;
  }
}
