.heading {
  background: url('../img/header-bg.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;

  .logo {
    position: absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding-top: $element-ofsset;

    @include mobile {
      padding-top: 0;
      top: 50%;
    }

    @include tablet {
      top: 55%;
    }

    img {
      max-width: 50vh;

      @include tablet-big {
        max-width: 40vh;
      }

      @include tablet {
        max-width: 60%;
      }

      @include mobile {
        max-width: 150px;
      }
    }

    .header-text {
      font-size: 40px;
      font-weight: 900;
      color: white;
      text-align: center;
      margin-top: $element-ofsset;

      @include mobile {
        font-size: 25px;
      }

      span {
        color: $pink;
        font-size: 85px;
        position: relative;

        &:after {
          content: '-ти';
          font-size: 26px;
          color: $pink;
          position: absolute;
          top: -2px;
          right: -35px;
          line-height: 1;

          @include mobile {
            right: -25px;
            font-size: 20px;
          }
        }

        @include mobile {
          font-size: 55px;
        }

      }

      @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        margin-bottom: 15%;
      }
    }

    .heading-intro-text {
      font-size: 20px;
      font-weight: normal;
      max-width: 60%;
      margin: $element-ofsset auto 0;

      @include laptop {
        max-width: 65%;
      }

      @include tablet {
        max-width: 90%;
      }

      @include mobile {
        font-size: 16px;
      }

      strong {
        color: $pink;
      }
    }
  }

  @media only screen and (max-device-width:992px) and(orientation: landscape) {
    height: 100vw;
  }

  @include mobile {
    height: 100vh;
  }

  ///iphone 5s landscape
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: 100vw;
  }

  //ipad pro portrait
  @media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    height: 100vw;
  }

  //ipad pro landscape
  @media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: 100vh;

  }
}
