.office-map {
  position: relative;
  line-height: 0;

  .place-card {
    text-align: right;
    padding: $element-ofsset;
    background: rgba(white, 0.8);
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.55px;
    color: $blue;
    line-height: 1.4;
    box-sizing: border-box;

    @include laptop {
      padding: $element-ofsset $element-ofsset 0;
      position: static;
      transform: none;
      width: 100%;
      background: $blue;
      color: white;
      text-align: center;
    }

    .content {
      width: 70%;
      text-align: center;
      display: inline-block;

      @include laptop {
        width: 100%;
      }
    }

    a {
      color: $default;

      @include laptop {
        color: white;
      }

      &:hover {
        color: $pink;
      }
    }
  }
}
