.navigation {
  text-align: right;
  position: relative;
  z-index: 111;

  @include tablet {
    text-align: right;
  }

  ul {
    position: relative;

    @include laptop {
      text-align: center;
    }

    @include tablet {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
    }

    li.gabrovodigitalsummit2018, li.gabrovodigitalsummit2019 {
      position: absolute;
      top: 0;
      left: 0;

      @include laptop {
        position: static;
      }
    }

    li {
      margin-right: 40px;
      display: inline-block;
      margin-bottom: $element-ofsset / 2;

      @include desktop {
        margin-right: 10px;
      }

      @include laptop {
        margin-right: 15px;
      }

      @include tablet {
        display: block;
        background: white;
        margin-right: 0;
        margin-bottom: 0;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
      }

      a {
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px solid transparent;

        @include laptop {
          font-size: 18px;
        }

        @include tablet {
          color: $default;
          display: block;
          padding: 20px 0px;
          border-color: rgba($default, 0.1);
          line-height: 1.2;
        }


      }

      &:hover {

        a {
          color: $pink;
          border-color: $pink;
          padding-bottom: 5px;

          @include tablet {
            color: $default;
            padding-bottom: 20px;
            border-color: rgba($default, 0.1);
          }
        }
      }

      &.active {

        @include tablet {
          background: $pink;
        }

        a {
          color: $pink;
          border-color: $pink;
          padding-bottom: 5px;

          @include tablet {
            color: white;
            padding-bottom: 20px;
            border-color: rgba($default, 0.1);
          }
        }
      }

      &:last-child {
        margin-right: 0;

        a {

          @include tablet {
            border-color: transparent;
          }
        }
      }
    }
  }

  .menu-mobile-icon {
    @include menu-icon;

    display: none;

    @include tablet {
      display: inline-block;
      position: relative;
      top: 4px;
    }
  }

  &.open {
    .menu-mobile-icon {
      @include menu-icon-open;
    }

    ul {
      display: block;
    }
  }
}


.sticky {
  padding: $element-ofsset 0 $element-ofsset / 2;
  position: fixed;
  z-index: 11;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;

  &.open {
    background: rgba($blue, 1);
  }

  @include tablet {
    padding: $element-ofsset / 2 0;
  }

  ul {
    @include tablet {
      padding: 0;
      box-sizing: border-box;
    }
  }

  &.bg-overlay {
    background: rgba($blue, 1);
  }
}
