.partners {

  .partners-row {
    display: flex;

    .partner-item {
      align-items: center;
      display: flex;
      justify-content: center;

      &:hover {

        img {
          transform: scale(1.2);
          transition: all $transition-time;
        }
      }

      a {
        box-sizing: border-box;
        padding: $big-offset $big-offset / 2;
        width: 100%;
        text-align: center;

        @include laptop {
          padding: $big-offset / 2;
        }

      }

      img {
        max-height: 135px;
        max-width: 100%;
      }
    }

      &.first-row {
        .partner-item {
          &.first {
            flex-basis: 49.165%;
          }
          &.second {
            flex-basis: 50.835%;
          }
        }
      }

    &.second-row {
      .partner-item {
        flex-basis: calc(100% / 3);
      }
    }
  }
}
