// Calculate container width with padding.
$real_contaner_width: $container_width - ($element-ofsset * 2);

.places {
  overflow: hidden;

  .address-box {
    max-width: 65%;
    width: 100%;
    float: right;
    background: $blue;
    color: white;
    margin-top: $element-ofsset;
    padding: 40px;
    box-sizing: border-box;

    @include laptop {
      max-width: 80%;
    }

    @include tablet {
      max-width: 90%;
      padding: $element-ofsset;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .section-image--part {
      max-width: 65%;
      width: 100%;

      @include laptop {
        max-width: 90%;
      }

      img {
        position: absolute;
        margin-left: calc(-100vw / 2 + #{$real_contaner_width} / 2);
        margin-right: calc(-100vw / 2 + #{$real_contaner_width} / 2);

        // 65% - 50% = 15% /100 = 0.15.
        width: calc(100vw / 2 + #{($real_contaner_width * 0.15) - ($element-ofsset / 2)});

        @media (max-width: #{$container_width - 1}) {
          margin-left: - #{$element-ofsset};
          margin-right: - #{$element-ofsset};
          width: calc(100% + #{$element-ofsset / 2});
        }
      }
    }

    .place-text {
      max-width: 35%;
      font-size: 22px;
      box-sizing: border-box;
      position: relative;
      padding-bottom: 60px;
      padding-top: $element-ofsset;
      padding-left:$element-ofsset;
      text-align: justify;

      @include laptop {
        max-width: 100%;
        padding-bottom: 0;
        padding-left: 0;
        text-align: left;
      }

      .place-action {
        max-width: 100%;
        text-align: right;
        padding-bottom: 0;
        position: absolute;
        bottom: 0;
        right: 0;

        @include laptop {
          position: static;
          text-align: right;
        }

        @include tablet {
          text-align: center;
        };
      }
    }
  }
}
