.register {
  background: $blue;
  color: white;
  padding-bottom: $big-offset;

  .overlay {
    background: $blue;
  }

  .section-title-wraper {
    color: white;
  }
  .basic-title {
    color: $pink;
  }

  .tickets {
    padding-top: $big-offset / 2;

    @include tablet {
      padding-top: 0;
    }

    .basic-title {
      color: white;
      margin-bottom: 0;

      strong {
        color: $pink;
      }
    }
    .ticket-element {
      padding-top: $element-ofsset;

      &:first-child {
        background: $light-blue;
      }

      .ticket-wrapper {
        display: flex;
        justify-content: space-between;

        @include tablet {
          display: block;
        }
      }

      .ticket-price {
        font-size: 34px;
        font-weight: bold;
        color: $pink;
        padding-top: 5px;

        @include tablet {
          padding-top: 0;
          padding-bottom: $element-ofsset;
          line-height: 1;
        }
      }
    }
  }

  .ticket-action {

    max-width: 100%;
    text-align: right;
    padding: 0;

    @include laptop {
      max-width: 100%;
    }

    @include tablet {
      text-align: center;
    }
  }
}
