.sessions {
  padding-top: 0;
}

.session-list {
  position: relative;

  ul li {
    display: flex;
    flex-direction: row;

    @include laptop {
      flex-direction: column;
      align-items: center;
    }
  }


  .list-element {
    padding: $element-ofsset 0 $element-ofsset $element-ofsset;
    max-width: 65%;
    order: 2;

    @include desktop {
      max-width: 56%;
    }

    @include laptop {
      max-width: 100%;
      padding-right: $element-ofsset;
    }
  }

  .section-title-wraper {
    margin-bottom: $big-offset / 2;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: $element-ofsset / 2;

    @include laptop {
      font-size: 22px;
    }
  }

  .date {
    color: $pink;
    position: relative;

    @include tablet {
      display: block;
    }

    &:before {
      content: '';
      position: absolute;
      width: 26px;
      height: 26px;
      left: -30px;
      background: url('../img/bullet.png') no-repeat;
      top: 4px;
      background-size: 90%;
    }
  }

  .dash {
    @include tablet {
      display: none;
    }
  }

  .content {
    margin-left: #{$content-left-offset - 30px};
    letter-spacing: 0.55px;
    font-size: 20px;
    width: 80%;

    @include laptop {
      margin-left: 0;
      width: 100%;
    }
  }

  .list-actions {
    margin-left: $content-left-offset;

    @include tablet {
      margin-left: 0;
    }
  }

  li {
    &:hover {
      background: $dark-gray;
      transition: all $transition-time;
    }
  }

  .container {
    margin: 0;
    padding: 0;

    @include laptop {
      padding-left: $element-ofsset;
      padding-right: $element-ofsset;
    }
  }
}

.lector-info {
  position: relative;
  top: 15%;

  @include laptop {
    top: 0;
  }

  img {
    position: relative;
    height: 100px;
    top: 10%;
  }
}

.normal-list {
  padding-top: $big-offset;

  ul {
    li {
      &:nth-child(2) {
        .lector-info {
          position: relative;
          left: $content-left-offset;

          @include laptop {
            left: 0;
          }
        }

        .list-element {
          margin-left: $content-left-offset;

          @include laptop {
            margin-left: 0;
          }
        }
      }

      &:nth-child(3) {
        .lector-info {
          position: relative;
          left: $content-left-offset * 2;

          @include laptop {
            left: 0;
          }
        }

        .list-element {
          margin-left: $content-left-offset * 2;

          @include laptop {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.reversed-list {
  ul {
    li {
      &:nth-child(2) {
        .lector-info {
          position: relative;
          left: $content-left-offset;

          @include laptop {
            left: 0;
          }
        }

        .list-element {
          margin-left: $content-left-offset;

          @include laptop {
            margin-left: 0;
          }
        }
      }

      &:nth-child(1) {
        .lector-info {
          position: relative;
          left: $content-left-offset * 2;

          @include laptop {
            left: 0;
          }
        }

        .list-element {
          margin-left: $content-left-offset * 2;

          @include laptop {
            margin-left: 0;
          }
        }
      }
    }
  }
}