@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansHeavy.eot');
    src: url('../fonts/UniSansHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansHeavy.woff2') format('woff2'),
        url('../fonts/UniSansHeavy.woff') format('woff'),
        url('../fonts/UniSansHeavy.ttf') format('truetype'),
        url('../fonts/UniSansHeavy.svg#UniSansHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansRegular.eot');
    src: url('../fonts/UniSansRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansRegular.woff2') format('woff2'),
        url('../fonts/UniSansRegular.woff') format('woff'),
        url('../fonts/UniSansRegular.ttf') format('truetype'),
        url('../fonts/UniSansRegular.svg#UniSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansBold.eot');
    src: url('../fonts/UniSansBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansBold.woff2') format('woff2'),
        url('../fonts/UniSansBold.woff') format('woff'),
        url('../fonts/UniSansBold.ttf') format('truetype'),
        url('../fonts/UniSansBold.svg#UniSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
