// Colors.
$default: black;
$pink: #fd1d62;
$dark-gray: #dedde8;
$blue: #19294e;
$light-blue: #233b73;

// Breakponts.
$mobile-small: 400;
$tablet: 600;
$tablet-big: 768;
$laptop: 992;
$desktop: 1200;

$container_width: 1520px;

$transition-time: 0.5s;

$element-ofsset: 30px;
$big-offset: 60px;
$content-left-offset: 130px;
